<style>
    input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

  input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
</style>
<form action="{% url 'awards:award_vote' award.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ award.award_name }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% if current_winner %}<p><strong>You have currently nominated: {{ current_winner.winner_text }}</strong></p>{% endif %}

        <label for="winner_name">Your winner:</label><br>
        <input type="text" name="winner_name" id="winner_name" length="100" autocomplete="off" required />
        <label for="winner_name">Evidence (Youtube Link?)</label><br>
        <input type="text" name="winner_link" id="winner_link" autocomplete="off" />
    </fieldset>
    <input type="submit" value="Vote">
</form>