<style>
    input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }
  
input[type=submit] {
background-color: #04AA6D;
color: white;
padding: 20px;
border: none;
border-radius: 4px;
margin-top: 20px;
cursor: pointer;
float: right;
}

input[type=submit]:hover {
background-color: #45a049;
}

label {
padding: 12px 12px 12px 0;
display: inline-block;
}

ul {
  padding: 20px;
}

ul li {
  padding: 5px;
  margin-left: 35px;
}
</style>
{% if awards_list %}
    <ul>
    {% for award in awards_list %}
        <li>
            <a href="{% url 'awards:award_detail' award.id %}">{{ award.award_name }}</a>
            {% if award in user_voted_awards %}
                - &#x2611;
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No awards are available.</p>
{% endif %}
<form action="{% url 'awards:award_add' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Add new Award</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
        <label for="award_name">Award name:</label><br>
        <input type="text" name="award_name" id="award_name" length="50" autocomplete="off" required />
    </fieldset>
    <input type="submit" value="Add">
</form>
