<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
   input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
  }

  input[type=password]:focus {
    border: 3px solid #555;
  }
  
  button {
background-color: #04AA6D;
color: white;
padding: 20px;
border: none;
border-radius: 4px;
cursor: pointer;
float: right;
}

button:hover {
background-color: #45a049;
}
</style>
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
{% endblock %}